@import "./common.less";
@import "./iview-custom.less";

// Light mode -- overrides less variables from `common.less`
@oj-background-color: #eeeeee;
@oj-background-color-full: #ffffff;
@oj-background-color-panel: #dddee1;
@oj-diff-tone-color: #cccccc;
@oj-text-color: #111111;
@oj-link-color: #0099ff;
@oj-link-base-color: #495060;
@oj-link-hover-color: #2d8cf0;
@oj-pre-background-color: #f8f8f9;
@oj-pre-border-color: #e9eaec;
@oj-code-background-color: rgba(27, 31, 35, 0.05);
@oj-blockqoute-border-color: #bbbec4;
@oj-blockqoute-text-color: #333333;
@oj-hr-text-color: #999999;
@oj-md-table-border: var(--diff-tone-color);
@oj-md-table-td-text-color: #666666;
@oj-table-border-color: #dddddd;
@oj-table-first-active-background-color: #33cc99;
@oj-table-active-text-color: #3c763d;
@oj-table-active-background-color: #dff0d8;
@oj-table-warn-text-color: #a94442;
@oj-table-warn-background-color: #f2dede;
@oj-contest-border-color: rgba(187, 187, 187, 0.5);
